In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
gdp_file = "Resources/World_GDP/gdp_per_capita.csv"
gdp_df = pd.read_csv(gdp_file)
gdp_df.head()

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","3,995.38",2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","4,318.14",2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","4,100.32",2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","14,414.30",2011.0

In [14]:
gdp_cols = ['Country', '2015']
gdp_trans = gdp_df[gdp_cols].copy()
gdp_trans = gdp_trans.rename(columns={"2015": "2015 GDP (USD)"})

gdp_trans.head()

               Country 2015 GDP (USD)
0          Afghanistan        599.994
1              Albania       3,995.38
2              Algeria       4,318.14
3               Angola       4,100.32
4  Antigua and Barbuda      14,414.30